/* * * Import fonts * * */
@import url('https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200;400;500;600;700;800&display=swap');

/* * * Define Font Family* * */
$font__title: 'Rock Salt', cursive;
$font__normal: 'Raleway', sans-serif;

/* * * Define Weight * * */
$weight__extra-light: 200;
$weight__regular: 400;
$weight__medium: 500;
$weight__semi-bold: 600;
$weight__bold: 600;
$weight__extra-bold: 800;
