.sro {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px; width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}
body{
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: $_18;
  min-height: 100vh;
  min-width: 100vw;
  font-family: $font__normal;
  font-weight: $weight__regular;
  background-color: $_black-alt;
  color: $_white;
}
a{
  color: $_white;
  transition: 0.36s;
  &:focus, &:hover{
    color: $_orange;
  }
}